/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #222;
  background: #f7f5f0;
}


/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.github {
  background-image: url(/img/github.svg);
}
a.social:hover {
  opacity: 1;
}


/* Section Styles */


header {
  text-align: center;
  background: url('/img/Brisbane.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 20%;
  border: 5px solid black;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
  border: 5px solid white;
}

main {
  background-image: url('/img/wall.png');
}



footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}


.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}


.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 30px;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}

.tag {  
  color: white;
  background-color: rgba(0, 0, 0, 0.637);
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  display: table;
  margin: 10px auto;
} 
.location {
  font-style: italic;  
  font-size: 16px;
}


.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 700px;
  text-align: left;
  background: rgba(0, 0, 0, 0.637);
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  color: #ffffff;
}
.card:hover {
  border-color: rgb(41, 123, 230);
  transform: scale(1.1);
}

/* skills list styling */

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff6804;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #69a871;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 100%;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}

/* portfolio page  */

.portfolio {
  background-image: url('/img/bg-portfolio.jpg');
}

.portfolio h1 {
  background-color: rgba(255, 255, 255, 0.445);
  padding: 20px;
}

.section1 a {
  color: black;
  font-size: 30px;
}

.section1 article {
  display: flex;
  justify-content: space-around;
}

.home {
  text-align: center;
  color: black;  
  font-size: 16px;
  text-decoration: none;
}


